<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
        crossorigin="anonymous">

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
            <h1 id="page_head">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                Contact List
            </h1>
        <div id="container">
            
            <ul>
                   
                <% for (let i of contact_List) { %> 
                        <li class="data">
                            <div><p class="left"><%= i.name %></p></div>
                            <div><p class="right"><%= i.phone %></p> </div>
                            <a class="close" href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas  fa-window-close"></i> 
                             </a>
                        </li>
                <% } %>
            </ul>

        <form action="/contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>
    </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>